body{
    background-color: hsl(30, 54%, 90%);
}
.card{
    border: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
    width: 500px;
    height: 1250px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
}
img{
    border: none;
    border-radius: 10px;
    width: 450px;
    height: 180px;
    margin-left: 25px;
    margin-top: 20px;
}
.section{
    border: none;
    width: 450px;
    height: 1020px;
    margin: auto;
}
h1{
    font-family: "young serif";
    font-weight: 400;
}
p{
    font-family: "outfit";
    font-weight: 400;
    font-size: small;
}

#preparation{
    border: none;
    border-radius: 10px;
    width: 400px;
    height: 100px;
    margin: auto;
    font-family: "outfit";
    font-weight: 400;
    font-size: small;
    padding: 25px;
    padding-top: 10px;
    background-color: hsl(30, 54%, 90%);
}
#preparation h3{
    font-family: "young serif";
    font-weight: 400;
    color: hsl(14, 45%, 36%);  
}
.ingredients h3{
    font-family: "young serif";
    font-weight: 400;
    color: hsl(14, 45%, 36%);
}
.ingredients ul{
    font-family: "outfit";
    font-weight: 400;
    font-size: small;
}
#instructions h3{
    font-family: "young serif";
    font-weight: 400;
    color: hsl(14, 45%, 36%);
}
#instructions ol{
    font-family: "outfit";
    font-weight: 400;
    font-size: small;
}
.nutrition h3{
    font-family: "young serif";
    font-weight: 400;
    color: hsl(14, 45%, 36%);
}
.nutrition table{
    font-family: "outfit";
    font-weight: 400;
    font-size: small;
}
.nutrition p{
    font-family: "outfit";
    font-weight: 400;
    font-size: small;
}