*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: hsl(30, 54%, 90%);
}
.card{
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
}
img{
    margin: auto;
    border-radius: 10px;
    width: 500px;
    height: 180px;
}
h1{
    font-family: "young serif";
    font-weight: 400;
}
p{
    font-family: "outfit";
    font-weight: 400;
}

#preparation{
    border-radius: 10px;
    height: 100px;
    font-family: "outfit";
    font-weight: 400;
    font-size: 14px;
    padding: 25px;
    padding-top: 10px;
    background-color: hsl(30, 54%, 90%);
}
#preparation h3{
    font-family: "young serif";
    font-weight: 400;
    color: hsl(14, 45%, 36%);  
}
.ingredients h3{
    font-family: "young serif";
    font-weight: 400;
    color: hsl(14, 45%, 36%);
}
.ingredients ul{
    font-family: "outfit";
    font-weight: 400;
    font-size: 14px;
}
#instructions h3{
    font-family: "young serif";
    font-weight: 400;
    color: hsl(14, 45%, 36%);
}
#instructions ol{
    font-family: "outfit";
    font-weight: 400;
    font-size: 14px;
}
.nutrition h3{
    font-family: "young serif";
    font-weight: 400;
    color: hsl(14, 45%, 36%);
}
.nutrition table{
    font-family: "outfit";
    font-weight: 400;
    font-size: 14px;
}
.nutrition p{
    font-family: "outfit";
    font-weight: 400;
    font-size: 14px;
}